body::before {
    display: block;
    content: "";
    height: 70px;
}

section {
    scroll-margin-top: 3rem;
}

#environment {
    background-color: #f9ffe3;
}

#map {
    width: 100%;
    text-align: center;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}